@import "~bootstrap/scss/bootstrap";

.checked {
    text-decoration: line-through;
}

.add-new-btn {
    color: #fff !important;
}

.add-btn {
    padding: 0 1em !important;
}

.add-btn:hover,
.add-btn:active {
    outline: none !important;
    background: rgba(255, 255, 255, 0.1);
}

.add-btn:focus {
    outline: none !important;
}

.fa {
    cursor: pointer;
    font-size: larger;
    padding: 5px;
    transition: 0.2s;
    opacity: 0.5;
}

.controls:hover,
.fa-plus {
    opacity: 1;
}

.todo-bg {
    background: rgba(85, 142, 175, 0.3) !important;
}

.large-check-box {
    width: 20px;
    height: 20px;
}

.alert {
    position: fixed;
    top: 10px;
    opacity: 0;
    transition: 0.3s;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
